
.stats{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	list-style-type: none;
	background-color: #fdfbfb;
}
.stats > li {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.label{
	display: block;
	width: 150px;
	color: rgb(121, 112, 112);
	padding-top: 20px;
}

.quantity{
	display: block;
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 20px;
}